.background-color--light-blue {
  background-color: $color-primary-100;
}

.background-color--light-gray {
  background-color: $color-neutral-100;
}

.background-color--light-green {
  background-color: $color-success-100;
}

.background-color--light-orange {
  background-color: $color-warning-100;
}

.background-color--light-red {
  background-color: $color-error-100;
}

.background-color--blue {
  background-color: $color-primary-200;
}

.background-color--gray {
  background-color: $color-neutral-200;
}

.background-color--green {
  background-color: $color-success-200;
}

.background-color--orange {
  background-color: $color-warning-200;
}

.background-color--red {
  background-color: $color-error-200;
}

.background-color--dark-blue {
  background-color: $color-primary-300;
}

.background-color--dark-gray {
  background-color: $color-neutral-300;
}

.background-color--dark-green {
  background-color: $color-success-300;
}

.background-color--dark-orange {
  background-color: $color-warning-300;
}

.background-color--dark-red {
  background-color: $color-error-300;
}

.color--light-blue {
  color: $color-primary-100;
}

.color--light-gray {
  color: $color-neutral-100;
}

.color--light-green {
  color: $color-success-100;
}

.color--light-orange {
  color: $color-warning-100;
}

.color--light-red {
  color: $color-error-100;
}

.color--blue {
  color: $color-primary-200;
}

.color--gray {
  color: $color-neutral-200;
}

.color--green {
  color: $color-success-200;
}

.color--orange {
  color: $color-warning-200;
}

.color--red {
  color: $color-error-200;
}

.color--dark-blue {
  color: $color-primary-300;
}

.color--dark-gray {
  color: $color-neutral-300;
}

.color--dark-green {
  color: $color-success-300;
}

.color--dark-orange {
  color: $color-warning-300;
}

.color--dark-red {
  color: $color-error-300;
}

.color--deep-dark-green {
  color: $color-success-500;
}

.color--deep-dark-orange {
  color: $color-warning-500;
}
