.form-input {
  display: block;
  border: 1px solid $color-neutral-400;
  border-radius: 3px;
  position: relative;

  &:active,
  &:focus {
    border-color: $color-primary-500;
  }

  &.form-input--error {
    border-color: $color-error-500;
  }

  &.form-input--monospace {
    font-family: monospace;
  }

  &.form-input--disabled {
    cursor: not-allowed;
    color: $color-primary-900;
    background-color: $color-neutral-50;

    &:active,
    &:focus {
      border-color: $color-neutral-400;
    }
  }

  &.form-input--loading {
    &::after {
      content: " ";
      margin-top: -7px;

      @include loading(14px);
      @include absolute(50%, 10px, auto, auto);
    }

    &.form-input--with-icon-left::after {
      left: 10px;
      right: auto;
    }
  }
}

.form-input__input {
  appearance: none;
  border: none;
  border-radius: 3px;
  width: 100%;
  outline: none;
  line-height: 100%;
  background: none;
  padding: 8px 12px;
  background-color: $white;

  .form-input--large & {
    padding: 12px 12px;
  }

  .form-input--disabled & {
    cursor: not-allowed;
  }

  .form-input--with-icon-left & {
    padding-left: 32px;
    padding-right: 8px;

    .form-input--large & {
      padding-right: 12px;
    }
  }
}

.form-input__icon {
  position: absolute;
  right: 12px;
  top: 50%;
  font-size: 12px;
  line-height: 12px;
  margin-top: -6px;
  color: $color-neutral-300;

  .form-input--large & {
    font-size: 16px;
    line-height: 16px;
  }

  .form-input--with-icon-left & {
    right: auto;
    left: 12px;
  }

  .form-input--loading & {
    display: none;
  }
}
